@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// header start *****************************************************************************
.header {
  position: relative;
  &__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu__list {
      display: flex;
      justify-content: space-between;
      grid-gap: 40px;
      color: $primary;
    }
  }
  &__box {
    display: flex;
    align-items: center;
  }
  .personal {
    padding-left: 25px;
  }
  .social {
    display: none;
    svg {
      fill: #2e3442;
    }
    a {
      display: inline-block;
      padding: 0 7px;
    }
  }
  .mobile__btn {
    display: none;
  }
}
// select language start
.select-menu {
  position: relative;
  z-index: 3;
}
.select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
  cursor: pointer;
}
.options {
  position: absolute;
  left: -20px;
  background-color: $white;

  .option {
    cursor: pointer;
    padding-left: 21px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    &:hover {
      background-color: #dfecff;
    }
    span {
      display: flex;
    }
  }
}
.sBtn-text {
  display: flex;
  align-items: center;
}
.lang {
  padding-right: 8px;
}

.select-btn .arrow-select {
  transition: all 0.3s;
}
.select-menu.active .select-btn svg {
  transform: rotate(-180deg);
}
.select-menu .options {
  display: none;
  z-index: 6;
}
.select-menu.active .options {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170%;
  background-color: transparent;
  z-index: 1;
  display: none;
  &.active {
    display: block;
  }
}
// select language end

// login start******************

.close-modal-window {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.modal-window {
  z-index: 4;
  max-width: 544px;
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  padding: 32px 32px 0 32px;
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  &__text {
    padding-top: 8px;
    padding-bottom: 28px;
    span {
      cursor: pointer;
      color: var(--primary-primary-30, #81848d);
      &:hover {
        color: $primary;
      }
    }
  }
  &__form {
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      color: var(--primary-primary-40, #585d68);

      font-size: 16px;
      line-height: 1.5;
    }
    input {
      max-width: 480px;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 16px;

      border-radius: 8px;
      border: 1px solid var(--primary-primary-20, #aaadb2);
      padding: 12px 16px;

      /* Shadow/xs */
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }
  .log-in {
    &__modul {
      display: flex;
      justify-content: space-between;
    }
    &__forgot {
      color: var(--primary-primary-30, #81848d);
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    &__btn {
      color: $white;
      background-color: $accent;
      border-radius: 8px;
      border: 1px solid $accent;
      padding: 12px 40px;
      margin-bottom: 40px;
      margin-top: 40px;
      &:hover {
        background-color: var(--accent-accent-40, #f3c365);
      }
    }
  }
}
.registration {
  .modal-window__form {
    .initials {
      display: flex;
      justify-content: space-between;
      &__item {
        max-width: 224px;
        width: 100%;
      }
    }
  }
}
.restoration {
  max-width: 480px;
  padding-top: 48px;
  .modal-window__text {
    padding: 0;
    padding-bottom: 40px;
  }
  button {
    width: 100%;
    margin-top: 26px;
  }
}
.new-pass {
  max-width: 480px;
}
/* Classes for modal windows functionality */
.hidden {
  display: none;
}

.overlay-log {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(46, 52, 66, 0.8) 0%,
      rgba(46, 52, 66, 0.8) 100%
    ),
    #fafafa;
  z-index: 3;
  opacity: 0.9;
}

// login end******************
// header end *****************************************************************************

// footer start *****************************************************************************
.footer {
  background-color: $primary;
  &__inner {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 60px 0;
  }
  &__title {
    @extend %roboto-500;
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 24px;
  }
  &-item {
    padding-bottom: 16px;
  }
  .social__item {
    padding-left: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-image: url(../images/phone.png);
      width: 24px;
      height: 24px;
    }
  }
  .social {
    display: flex;
    justify-content: start;
    grid-gap: 16px;
  }
  .subscription {
    &__input {
      outline: none;
      width: 277px;

      padding: 9px 16px;
      border-radius: 8px 0px 0px 8px;
      border: 1px solid var(--primary-primary-20, #aaadb2);
      background: var(--White, #fdfdfd);

      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      &::placeholder {
        @extend %roboto-400;
        font-size: 16px;
        line-height: 1.5;
        color: #aaadb2;
      }
    }
    &__button {
      width: 102px;
      padding: 9px 34px;
      @extend %roboto-700;
      font-size: 16px;
      line-height: 1.5;
      color: $white;
      background-color: $accent;
      border-radius: 0px 8px 8px 0px;
      border: 1px solid #f0b43f;
      box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
      // cursor: pointer;
      &:hover {
        background: var(--accent-accent-40, #f3c365);
        box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
      }
    }
  }
  .allright {
    color: #fff;

    @extend %roboto-400;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
  }
  &__allright {
    margin-bottom: 60px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    .contacts {
      margin-right: 120px;
    }
  }
  &__checkbox-inner {
    margin-top: 12px;
  }
}

// footer end *****************************************************************************
// section top start****************************************************************************
.top {
  .side {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $primary;
    margin-right: 8px;
    &.checked {
      border: 4px solid $primary;
    }
    &-box {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  background-image: url(../images/top-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 120px;
  padding-bottom: 140px;
  &__title {
    margin-bottom: 64px;
    text-align: center;
    color: $white;
    h1 {
      margin-bottom: 8px;
    }
    h4 {
      color: $white;
    }
  }
  &__inner {
    max-width: 688px;
    margin: 0 auto;
  }
  .order {
    background-color: $white;
    border-radius: 8px;
    padding: 32px;
    &__chekbox {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 32px;
    }
    &__form {
      max-width: 296px;
      width: 100%;
      border-radius: 8px;
      color: #585d68;

      font-size: 16px;
      @extend %roboto-500;
      line-height: 1.5;

      &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 790px;
        margin-top: 48px;
        position: relative;

        &.reverse {
          flex-direction: row-reverse;
        }
      }
    }
  }
  .top-select-change {
    cursor: pointer;
    padding: 0 6px;
    margin-top: 36px;
    img {
      max-width: 14px;
      height: auto;
    }
  }
  .order__form-box--top {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .order__form-box--bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .passengers {
    max-width: 296px;
    width: 100%;
    position: relative;

    &__inner {
      max-width: 292px;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid #ddd;
      background: $white;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      cursor: pointer;
      z-index: 2;
      position: relative;
      &__box {
        min-width: 104px;
        padding-left: 28px;
      }
    }
    &__label {
      margin-bottom: 8px;
      color: #585d68;
      font-size: 16px;
      @extend %roboto-500;
      line-height: 1.5;
    }
    &__box {
      color: $black;
    }
    .adults {
      padding-left: 28px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url(../images/adults.svg);
        width: 20px;
        height: 20px;
        left: 0;
        top: 2px;
      }
    }
    .minors {
      padding-left: 20px;
      position: relative;
      display: none;
      &.active {
        display: block;
        &::before {
          position: absolute;
          content: "|";
          left: 8px;
          top: -1px;
        }
      }
    }
    svg {
      margin-left: auto;
      margin-top: 3px;
    }
    &__dropdown {
      display: none;
      z-index: 3;
      &.active {
        display: block;
      }
      color: $black;
      position: absolute;
      background-color: $white;
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      &-minors,
      .passengers__dropdown-adults {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-box {
        max-width: 70px;
        span {
          color: var(--primary-primary-40, #585d68);

          font-size: 14px;
          line-height: 1.4;
        }
      }
      &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 81px;
      }

      .btn-pass {
        margin: 16px 0;
        width: 24px;
        height: 24px;
        background-color: $primary;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .dis {
      background-color: #81848d;
      cursor: auto;
    }
  }

  .minus::before {
    background-image: url(../images/minus.svg);
    width: 12px;
    height: 2px;
  }
  .plus::before {
    background-image: url(../images/plus.svg);
    width: 13px;
    height: 13px;
  }
}

.choices::after {
  display: none;
}
.choices {
  margin-top: 8px;
  .choices__heading {
    font-size: 16px;
    color: $primary;
  }
}
.choices__inner {
  border-radius: 8px;
  background-color: $white;
  min-height: auto;
}
.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}
.choices[data-type*="select-one"] .choices__inner,
.choices__list--dropdown {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.5;
}
.is-open .choices__inner {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: $white;
  min-height: auto;
}
.is-open .choices__list--dropdown {
  background-color: $white;
  min-height: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 3;
}
#choices--from-h0-item-choice-2,
#choices--from-aq-item-choice-2 {
  display: none;
}
#datepicker {
  padding: 12px 20px;
  max-width: 296px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #585d68;
  margin-top: 8px;
}

.top__form-search {
  cursor: pointer;
  width: 100%;
  background-color: $accent;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  border: none;
  margin-top: 16px;
  padding: 11px;
  @extend %roboto-500;
  font-size: 16px;
  line-height: 1.5;
  color: $white;
}
// section top end ****************************************************************************
// section routes start ***********************************************************************
.routes {
  &__inner {
    margin: 120px 0;
    text-align: center;
  }
  &__title {
    color: $black;
    margin-bottom: 48px;
  }

  &__items {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 32px;
  }
  &__item {
    max-width: 378px;
    cursor: pointer;
    position: relative;
    span {
      position: absolute;
      bottom: 24px;
      left: 24px;
      color: $white;
      @extend %roboto-500;
      font-size: 28px;
      line-height: 1.3;
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      z-index: 3;
      transition: all 0.3s;
      &:hover {
        background-color: rgba(253, 253, 253, 0.2);
      }
    }
  }
}
// section routes end ***********************************************************************
// section popular start ****************************************************
.popular {
  &__inner {
    margin-bottom: 160px;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 584px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid $primary;
    margin-top: 32px;
    span {
      padding: 16px;
      font-weight: 600;
    }
    a {
      margin-left: 16px;
      font-weight: 600;
    }
    &-text {
      display: flex;
      align-items: center;
    }
  }
}
// section popular end ****************************************************
// section today start ******************************************************
.today {
  margin-bottom: 160px;
  margin: 0 auto;
  &__inner {
    max-width: 790px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding: 40px;
    padding-top: 48px;
    background-color: $primary;
    text-align: center;
    border-radius: 8px;
  }
  &__title {
    color: $white;
    margin-bottom: 32px;
  }
  &__item {
    max-width: 710px;
    padding: 32px 56px;
    background-color: $white;
    color: $primary;
    border-radius: 8px;
    margin: 16px;
    font-weight: 600;
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 598px;
    }
    &-destination {
      max-width: 170px;
    }
    &-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      @extend %roboto-500;
      line-height: 1.55;

      span {
        position: relative;

        color: var(--primary-primary-40, #585d68);
        text-align: center;
        @extend %roboto-400;
        font-size: 16px;
        line-height: 1.5;
        &::after,
        &::before {
          position: absolute;
          content: "";
          height: 2px;
          width: 40px;
          background-color: #81848d;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          left: -48px;
        }
        &::after {
          right: -48px;
        }
      }
    }
  }
  .today-from {
    order: -1;
  }

  &__link {
    padding: 12px 32px;
    color: $white;
    @extend %roboto-500;
    font-size: 16px;
    line-height: 1.5;
    background-color: $accent;
    border-radius: 8px;
    display: block;
    max-width: 195px;
    margin: 0 auto;
    margin-top: 48px;
  }
}
// section today end ******************************************************
//section about start *****************************************************
.about {
  &__inner {
    margin-bottom: 160px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    span {
      margin-top: 48px;
      display: block;
    }
  }
  &__text {
    max-width: 481px;
    width: 100%;
    margin-right: 24px;
  }
  picture {
  }
}
//section about end *****************************************************
//section advantages start ***************************************************
.advantages {
  &__inner {
    margin-bottom: 140px;
    text-align: center;
  }
  &__title {
    margin-bottom: 48px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    border-radius: 8px;
    border: 2px solid $primary;
    max-width: 378px;
    padding: 24px;
    &-title {
      padding: 12px 0;

      color: var(--Black, #1a1b1e);
    }
    &-text {
      margin-bottom: 24px;
    }
  }
}
//section advantages end *****************************************************
//section trus start ***************************************************
.trust {
  &__inner {
    margin-bottom: 124px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  &__counter {
    max-width: 583px;
    width: 100%;
    padding: 32px 48px 40px 48px;
    border-radius: 8px;
    background-color: $primary;
    color: $white;
    text-align: center;
    &-title {
      margin-bottom: 12px;
    }
    &-items {
      span {
        color: $primary;
        @extend %roboto-700;
        font-size: 40px;
        line-height: 1.2;
        background-color: $white;
        padding: 0 12px;
        & + span {
          margin-left: 10px;
        }
      }
    }
  }
  &__text {
    max-width: 481px;
    &-title {
      margin-bottom: 48px;
    }
  }
}
//section counter end *****************************************************
//section reviews start *****************************************************
.reviews {
  overflow: hidden;
  margin-bottom: 120px;
  background-image: url(../images/reviews-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
  position: relative;
  &__inner {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
  }
  &__title {
    color: $white;
    margin-bottom: 77px;
  }
  &__link {
    padding: 16px 40px;
    border-radius: 8px;
    background-color: $accent;
    color: $white;
    display: block;
    margin: 0 auto;
    max-width: 187px;
    margin-top: 88px;
  }
  &__item {
    max-width: 378px;
    width: 100%;
    min-height: 158px;
    padding: 60px 24px 24px 24px;
    background-color: $white;
    position: relative;
    border: 1px solid #000;
    margin-top: 60px;
    &-avatar {
      position: absolute;
      max-width: 88px;
      height: auto;
      left: 50%;
      transform: translateX(-50%);
      top: -44px;
      z-index: 9999;
    }
    &-text {
      width: 298px;
      margin: 0 auto;
    }
  }
  &__swiper {
    position: relative;
  }

  .new-reviews {
    &__modal {
      max-width: 480px;
      top: 50%;
    }
    &__btn {
      width: 100%;
      margin-top: 0;
    }
    &__succes-btn {
      width: 100%;
      margin-top: 0;
    }
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.reviews__btn-prev {
  left: -80px;
}
.reviews__btn-next {
  right: -80px;
}
.reviews__btn-prev,
.reviews__btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
}
//section reviews end *****************************************************
//section info start*****************************************************
.info {
  text-align: center;
  &__items {
    max-width: 994px;
    // margin-top: 48px;
    // margin-bottom: 160px;
    margin: 48px auto 160px;

    span {
      width: 24px;
      height: 24px;
      background-color: $primary;
      display: block;
      border-radius: 50%;
      position: relative;
      svg {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        path {
          stroke: $white;
        }
      }
    }
  }
  &__item {
    padding: 6px 0;
    &-btn {
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      padding: 16px;
      background: var(--primary-primary-10, #d3d4d7);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background: var(--primary-primary-30, #81848d);
      }
      &.active-btn {
        border-radius: 8px 8px 0px 0px;
        background: var(--primary-primary-50, #2e3442);
        color: $white;
        span {
          background-color: $white;

          .test {
            stroke: $primary;
          }
        }
        &:hover {
          background: var(--primary-primary-30, #81848d);
        }
      }
    }
    &-body {
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s;
      padding: 0;

      &.active-text {
        grid-template-rows: 1fr;
        padding: 24px 16px;
        border-radius: 0px 0px 8px 8px;
        border: 2px solid $primary;
        border-top: none;
      }
      & > div {
        overflow: hidden;
      }
    }
  }
}
//section info end *****************************************************
// trips page start *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
.trips {
  &__inner {
    margin: 0 auto;
    text-align: center;
    margin: 120px auto 160px;
  }
  &__title {
    color: $black;
  }
  &__item {
    margin: 0 auto;
    border: 2px solid $primary;
    border-radius: 8px;
    max-width: 994px;
    display: flex;
    justify-content: space-between;
    &-time {
      span::before,
      span::after {
        top: 0;
      }
    }
    &-box {
      max-width: 677px;
      justify-content: center;
      margin-left: 128px;
    }
    &-time {
      padding: 0 80px 0 80px;
    }
    &-link {
      // padding: 12px 2px;
      display: inline-block;
      margin: 0;
      margin-top: 9px;
      // cursor: pointer;
    }
    & + .trips__item {
      margin-top: 16px;
    }
  }
}
// trips page start *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

//section  buytuckets strat
.buytuckets {
  background-color: #fafafa;
  margin-top: 80px;
  .baggage,
  .buyer-info,
  .passenger-info {
    border-radius: 8px;
    border: 2px solid $primary;
    padding: 24px 32px;
    margin-top: 40px;
  }
  .trip {
    float: right;
    &__price {
      display: flex;
      justify-content: space-between;
    }
    .trips__item-link {
      max-width: 421px;
      width: 100%;
      text-align: center;
    }
    .journey {
      color: var(--primary-primary-30, #81848d);
      margin-bottom: 16px;
    }
    .trips__item-time-bus {
      font-size: 18px;
    }

    .today__item-date {
      font-size: 16px;
    }
    // селект в покупке билетов
    .trip__buy {
      flex-direction: column;
      max-width: 485px;
      padding: 24px 32px;
      &-box {
        margin: 0;
        font-size: 20px;
      }
      &-time {
        span::before,
        span::after {
          top: 38px;
        }
      }
      &-btn {
        width: 100%;
        margin-top: 40px;
      }
      &-select {
        max-width: 485px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        border-radius: 8px;
        border: 2px solid $primary;
        background: $white;
        margin-bottom: 8px;
        @extend %roboto-500;
        font-size: 16px;
        line-height: 1.5;
        &.hidden {
          display: none;
        }
        svg {
          margin-left: 16px;
        }
      }
      .trip__buy-select {
        border: none;
        padding: 0;
        color: $primary;
        @extend %roboto-500;
        font-size: 16px;
        line-height: 1.5;
        &.hidden {
          display: none;
        }
      }
    }
    .trips__item-time-bus {
      margin-top: 16px;
      .hidden {
        display: none;
      }
    }
  }
  &__info {
    max-width: 687px;
    width: 100%;

    margin-right: 32px;

    .adult-ticket {
      &__title {
        margin-top: 32px;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    input {
      width: 300px;
      margin-top: 8px;
      padding: 12px 16px;

      border-radius: 8px;
      border: 1px solid var(--primary-primary-20, #aaadb2);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }
  .baggage {
    &__info {
      margin-top: 16px;
      margin-bottom: 24px;
      .luggage {
        color: $black;
        font-size: 14px;
        line-height: 1.42;
        margin-top: 8px;
        padding-left: 28px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          left: 0;
        }
        span {
          color: var(--primary-primary-40, #585d68);
        }
      }
      .handluggage::before {
        background-image: url(../images/hand-luggage.svg);
      }
      .touristluggage::before {
        background-image: url(../images/tourist-luggage.svg);
      }
      .additionalbaggage {
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid var(--primary-primary-20, #aaadb2);
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 2;
        position: relative;

        &__info {
          color: $black;
          @extend %roboto-500;
          font-size: 16px;
          line-height: 1.5;
          position: relative;

          span {
            color: var(--primary-primary-40, #585d68);
            @extend %roboto-400;
            font-size: 14px;
            line-height: 1.42;
          }
        }

        &.active {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .additionalbaggage {
    &__box {
      position: relative;
    }
    &__dropdown {
      position: absolute;
      background-color: $white;
      width: 621px;
      .additionalbaggage {
        cursor: auto;
        margin-top: 0;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 2;

        &__btns {
          display: flex;
          .summ {
            margin-right: 40px;
          }
          .quantity {
            margin: 0 12px;
          }
        }
        &__btn {
          background-color: $primary;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          transition: all 0.3s;
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.dis {
            background-color: #81848d;
            cursor: auto;
          }
        }
      }
    }
  }
  .buyer-info {
    margin-bottom: 168px;
    &__text {
      margin-top: 32px;
      p {
        margin-top: 24px;
      }
    }
    &__btn {
      border-radius: 8px;
      border: 1px solid $accent;
      background-color: $accent;

      /* Shadow/xs */
      box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
      color: $white;
      padding: 12px 40px;
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      &:hover {
        background: var(--accent-accent-40, #f3c365);
        box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
      }
    }
  }
  .trip__buy-btn--deckstop {
    display: block;
  }
  .trip__buy-btn--mobile {
    display: none;
  }
}
//section  buytuckets end
.info__routs-title {
  margin-top: 80px;
}

// blog page start
.blog {
  &__inner {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 160px;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-gap: 32px;
    text-align: left;
    margin-top: 48px;
  }
  &__item {
    max-width: 378px;
    position: relative;
    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &-title {
      margin-top: 24px;
      padding: 0 24px;
    }
    &-text {
      margin-top: 16px;
      padding: 0 24px 72px 24px;
    }
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 3;
    transition: all 0.3s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &:hover {
      background-color: rgba(253, 253, 253, 0.11);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
  &-article__item {
    max-width: 790px;
    margin: 0 auto;
    text-align: center;
  }
  &__item-text {
    text-align: left;
    padding: 0;
    span {
      display: block;
      margin-top: 32px;
      &:last-child {
        color: var(--primary-primary-40, #585d68);
      }
    }
  }
  &-article__title {
    margin-bottom: 40px;
  }
}
// blog page end

// contacts page start
.contacts {
  margin-bottom: 80px;
  &__inner {
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-top: 80px;
    margin-bottom: 48px;
  }
  &__simtrans {
    border-radius: 8px;
    border: 2px solid $primary;
    padding: 24px;
    max-width: 685px;
    margin-bottom: 24px;
    &-title {
      margin-bottom: 24px;
    }
    &-city {
      span + span {
        margin-left: 32px;
      }
    }
    &-box {
      display: flex;
      flex-wrap: wrap;
      max-width: 506px;
      width: 100%;
      justify-content: space-between;
    }
  }
  .contacts__simtrans-mail,
  .contacts__simtrans-phone {
    margin-top: 16px;
    padding-left: 40px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
    }
  }
  .contacts__simtrans-mail::before {
    background-image: url(../images/mailprim.svg);
  }
  .contacts__simtrans-phone::before {
    background-image: url(../images/phoneprim.png);
  }

  .contacts__simtrans-phone,
  .contacts__simtrans-social {
    margin-top: 16px;
  }
  .contacts__simtrans-social {
    a + a {
      margin-left: 16px;
    }
  }
  .connect-us {
    &__title {
      margin-bottom: 24px;
    }
    background-color: $primary;
    color: $white;
    text-align: center;
    float: right;
    padding: 24px;
    max-width: 481px;
    width: 100%;
    border-radius: 8px;
    &__box {
      text-align: left;
    }
    label {
      margin-top: 16px;
    }
    textarea {
      width: 100%;
      resize: none;
      min-height: 84px;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid var(--primary-primary-20, #aaadb2);
      margin-top: 8px;
      margin-bottom: 40px;
    }
    input {
      width: 100%;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid var(--primary-primary-20, #aaadb2);
      margin-top: 8px;
      margin-bottom: 16px;
    }
    &__btn {
      width: 100%;
      padding: 12px 40px;
      border-radius: 8px;
      color: $white;
      background-color: $accent;
      transition: all 0.3s;
      &:hover {
        background: var(--accent-accent-40, #f3c365);
        box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
      }
    }
  }
}
// contacts page end
//@media************************************************************
@media (max-width: 769px) {
  .container {
    padding: 0 40px;
  }
  .header {
    // overflow: hidden;
    &__inner {
      position: relative;
      .menu__list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        margin-top: 140px;
      }
    }
    &__box {
      margin-left: auto;
    }

    .social {
      display: block;
      margin-bottom: 64px;
    }
    &__menu-mobile {
      text-align: center;
      position: absolute;
      background-color: $white;
      top: 0;
      right: 0;
      z-index: 8;
      width: 100vh;
      height: 100vh;
      transition: all 0.5s;
      transform: translateX(123%);
      border-radius: 0px 0px 0px 8px;
      box-shadow: 0px 0px 40px 0px rgba(46, 52, 66, 0.12);
      &.active__menu {
        transform: translateX(9%);
      }
    }
    .menu-btn {
      width: 32px;
      height: 32px;
      position: relative;
      z-index: 10;
      // overflow: hidden;
      margin-left: 32px;
    }

    .menu-btn span {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary;
      transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
    }
  }
  .top {
    padding-top: 80px;
    padding-bottom: 96px;
    &__title {
      margin-bottom: 48px;
    }
  }
  .routes {
    &__inner {
      margin-top: 80px;
      margin-bottom: 96px;
    }
    &__items {
      grid-gap: 0;
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__item {
      max-width: 332px;
      margin: 0 auto;
      margin-bottom: 24px;
      span {
        text-align: left;
        max-width: 285px;
      }
    }
  }
  .popular {
    &__inner {
      margin-bottom: 120px;
    }
    &__item {
      max-width: 688px;
      margin: 0 auto;
      margin-bottom: 16px;
    }
  }
  .today {
    &__inner {
      margin-bottom: 120px;
    }
    .trips__inner {
      margin: 80px 0 120px;
    }
    .trips__item {
      padding: 32px;
      &-box {
        margin-left: 0;
      }
    }
  }
  .about {
    &__inner {
      margin-bottom: 120px;
    }
    &__text {
      max-width: 332px;
    }
  }
  .advantages {
    &__title {
      margin-bottom: 40px;
    }
    &__inner {
      margin-bottom: 120px;
    }
    &__items {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__item {
      max-width: 332px;
      margin-bottom: 24px;
      &:last-child {
        max-width: 674px;
        width: 100%;
      }
    }
  }
  .trust {
    &__inner {
      display: block;
      text-align: center;
      margin-bottom: 120px;
    }
    &__text-title {
      margin-bottom: 40px;
    }
    &__text,
    .trust__counter {
      margin: 0 auto;
    }
    &__text {
      margin-bottom: 32px;
    }
  }
  .reviews {
    margin-bottom: 80px;
    &__title {
      margin-bottom: 8px;
    }
  }
  .info {
    &__inner,
    .info__items {
      margin-bottom: 114px;
    }
    &__item-btn {
      &:hover {
        border-radius: 8px;
        padding: 16px;
        background: var(--primary-primary-10, #d3d4d7);
      }
      &.active-btn:hover {
        border-radius: 8px 8px 0px 0px;
        background: var(--primary-primary-50, #2e3442);
        color: $white;
      }
    }
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      .logo {
        order: -1;
      }
      .subscription {
        order: 1;
      }
      .footer__box {
        order: 2;
        margin: 0 auto;
        margin-top: 40px;
      }
    }
    &__allright {
      display: flex;
      justify-content: center;
    }
  }
  // *-*-*-*-*-*-*-*-*-*-*-*-*
  .modal-window {
    &__text {
      padding-bottom: 28px !important;
      .registration {
        h3 {
          font-size: 23px;
          max-width: 150px;
          margin: 0 auto;
        }
      }
      span {
        cursor: pointer;
        color: var(--primary-primary-30, #81848d);
        &:hover {
          color: $primary;
        }
      }
    }
  }
  //  -*-*-*-*-*-*-*-*-*-*-*-*-*

  .buytuckets {
    position: relative; // +++
    margin-top: 40px; // +++
    .baggage,
    .buyer-info,
    .passenger-info {
      padding: 24px 24px; // +++
      margin-top: 32px; // +++
    }
    .trip {
      float: none; // +++
      .trip__buy {
        &-select {
          cursor: pointer;
          &.hidden {
            display: flex;
            max-width: 100%;
          }
        }
        .trip__buy-select {
          &.hidden {
            display: flex;
          }
        }
      }

      .trips__item-link {
        max-width: 621px; // ++
        width: 100%;
      }
      .journey {
        margin: 0 auto; // +++
      }

      .trip__buy {
        &-hidden {
          display: none;
        }
        max-width: 100%; // +++
        &-time {
          span::before,
          span::after {
            top: 13px;
          }
        }
      }
    }

    .buyer-info {
      margin-bottom: 72px; // +++
    }

    .trip__buy-btn--deckstop {
      display: none;
    }
    .trip__buy-btn--mobile {
      display: block;
      margin-bottom: 120px;
      .trips__item-link {
        min-width: 100%;
        text-align: center;
      }
    }
  }
  .overlay {
    height: 378%;
  }
  // /*/*/*/*//-/*-/-*/-*/-/-*/-*/-*/-*/-*/-*/-*/-/-*/-*/-*/-*/-*/-/-/-/-*/-*/

  .blog {
    &__inner {
      margin-bottom: 120px;
    }
    &__items {
      grid-gap: 24px;
      margin-top: 40px;
    }
    &__item {
      max-width: 332px;
      position: relative;
      &-title {
        margin-top: 24px;
        padding: 0 24px;
      }
      &-text {
        margin-top: 16px;
        padding: 0 24px 48px 24px;
      }
    }

    &-article__item {
      max-width: 790px;
    }
    &__item-text {
      padding: 0;
    }
  }

  .contacts {
    margin-bottom: 120px;

    &__item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__title {
      margin-top: 75px;
      margin-bottom: 40px;
    }
    &__simtrans {
      max-width: 688px;
    }

    .connect-us {
      max-width: 688px;
    }
  }
}
@media (max-width: 650px) {
  .header__menu-mobile {
    width: 680px;
  }
  .trips {
    &__item {
      flex-wrap: wrap;
      justify-content: center;
      &-btn {
        margin-top: 24px;
        min-width: 100%;
      }
      &-link {
        min-width: 100%;
      }
    }
  }

  .buytuckets {
    .buytuckets__row {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .trip {
      .trip__buy {
        flex-direction: row;
      }
    }
  }
  .blog {
    &__inner {
      margin-bottom: 80px;
    }
    &__items {
      grid-gap: 0px;
      margin-top: 32px;
    }
    &__item {
      max-width: 320px;
      margin: 0 auto;
    }
  }
  .contacts {
    text-align: center;

    &__item {
      display: flex;
      justify-content: center;
    }

    &__simtrans {
      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .connect-us {
      &__title {
        margin-bottom: 24px;
      }
      background-color: $primary;
      color: $white;
      text-align: center;
      float: right;
      padding: 24px;
      width: 100%;
      border-radius: 8px;
      &__box {
        text-align: left;
      }
      label {
        margin-top: 16px;
      }
      textarea {
        width: 100%;
        resize: none;
        min-height: 84px;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid var(--primary-primary-20, #aaadb2);
        margin-top: 8px;
        margin-bottom: 40px;
      }
      input {
        width: 100%;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid var(--primary-primary-20, #aaadb2);
        margin-top: 8px;
        margin-bottom: 16px;
      }
      &__btn {
        width: 100%;
        padding: 12px 40px;
        border-radius: 8px;
        color: $white;
        background-color: $accent;
        transition: all 0.3s;
        &:hover {
          background: var(--accent-accent-40, #f3c365);
          box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .header__menu-mobile {
    width: 605px;
  }
  .about {
    &__inner {
      text-align: center;
    }
    &__box {
      flex-direction: column-reverse;
    }
    picture {
      width: 100%;
    }
    &__text {
      margin: auto;
      max-width: 100%;
      text-align: left;
    }
  }
  .checkbox__buytickets {
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .header__menu-mobile {
    width: 505px;
  }
  .buytuckets {
    .buytuckets__row {
      text-align: left;
    }
  }
  .blog {
    &-article__item {
      max-width: 790px;
      margin: 0 auto;
      text-align: center;
    }
    &__item-text {
      text-align: left;
      padding: 0;
      font-size: 14px;
      span {
        margin-top: 24px;
      }
    }
    &-article__title {
      font-size: 28px;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 462px) {
  .container {
    padding: 0 20px;
  }
  .header {
    &__box {
      margin-top: 6px;
    }
    .menu-btn {
      margin-left: 16px;
    }
    .personal {
      padding-left: 8px;
    }
    .select-menu {
      margin-top: 8px;
    }
    .log-in {
      &__text {
        padding-bottom: 28px;
      }
      &__btn {
        margin-top: 32px;
      }
    }
    .modal-window {
      max-width: 320px;
      padding: 32px 24px 0 24px;
    }
  }
  .top {
    padding-top: 64px;
    &__title {
      font-size: 33px;
      margin-bottom: 32px;
      h4 {
        font-size: 18px;
      }
      h1 {
        font-size: 33px;
      }
    }
    .order {
      padding: 32px 24px;
      &__chekbox {
        font-size: 14px;
      }
      .order__form {
        max-width: 100%;
      }
    }
    #datepicker {
      max-width: 100%;
    }
    .passengers {
      max-width: 100%;
      &__inner {
        max-width: 100%;
      }
    }
    .order__form-box--top {
      flex-wrap: wrap;
      justify-content: end;
      position: relative;
    }
    .top-select-change {
      position: absolute;
      right: 0;
    }

    .choices {
      margin: 0;
    }
    .select-to {
      margin-top: 12px;
    }
    .order__form-box {
      margin-top: 24px;
    }
    .order__form-box--bottom {
      flex-wrap: wrap;
    }
    .passengers__label {
      padding-top: 8px;
    }
    .choices {
      margin-top: 8px;
    }
  }
  .choices__list--dropdown {
    z-index: 3;
  }
  .routes {
    &__inner {
      margin-bottom: 72px;
    }
    &__title {
      margin-bottom: 32px;
    }
  }
  .popular {
    &__inner {
      margin-bottom: 96px;
    }
    &__items {
      margin-top: 32px;
    }
    &__item {
      padding-right: 10px;
    }
    &__item-text {
      flex-wrap: wrap;
      span {
        padding: 2px;
      }
    }
  }
  .today {
    .trips {
      &__inner {
        margin-bottom: 80px;
      }
      &__title {
        font-size: 28px;
      }
      &__item {
        flex-wrap: wrap;
        justify-content: center;

        h3 {
          font-size: 23px;
        }

        &-box {
          justify-content: space-around;
        }
        &-link {
          min-width: 100%;
        }
        &-time {
          span::after {
            top: 76px;
          }
        }
      }
    }
    &__inner {
      padding: 32px 24px 40px 24px;
      margin-bottom: 96px;
    }
    &__item {
      padding: 32px 24px;
      margin: 16px 0;
      &-box {
        flex-wrap: wrap;
      }
      &-time {
        order: -1;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 100%;
        width: 350px;
        span {
          margin-left: 4px;

          &::before {
            display: none;
          }
          &::after {
            top: 61px;
            left: 18px;
            width: 24px;
          }
        }
      }
    }
    &__link {
      min-width: 275px;
    }
  }
  .about {
    &__inner {
      text-align: center;
      margin-bottom: 96px;
    }
    &__box {
      flex-direction: column-reverse;
      text-align: left;
      margin: auto;
      img {
        max-width: 100%;
      }
      span {
        margin-top: 20px;
        &:nth-child(1) {
          margin-top: 16px;
        }
      }
    }
    &__text {
      width: 100%;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 32px;
    }
  }
  .advantages {
    &__inner {
      margin-bottom: 96px;
    }
    &__title {
      margin-bottom: 32px;
    }
    &__item {
      margin-bottom: 16px;
      max-width: 100%;
    }
  }
  .trust {
    &__inner {
      margin-bottom: 96px;
    }
    &__text {
      margin-bottom: 40px;
      &-title {
        margin-bottom: 32px;
      }
    }
    &__counter {
      padding: 24px 24px;
      font-size: 18px;
      &-items {
        span {
          font-size: 21px;
          padding: 12px 8px;
          display: inline-block;
          margin-top: 24px;
          & + span {
            margin-left: 6px;
          }
        }
      }
    }
  }
  .reviews {
    padding: 64px 0;
    &__link {
      margin-top: 48px;
    }
  }
  .info {
    &__inner,
    .info__items {
      margin-bottom: 80px;
      margin-top: 32px;
    }
    &__items {
      text-align: left;
    }
    &__item {
      &-btn--icon {
        margin-left: 53px;
      }
      &-btn {
        display: flex;
        align-items: center;
      }
    }
  }
  .footer {
    &__inner {
      text-align: center;
      padding: 48px 0;
      flex-direction: column;
      .logo {
        margin: 0 auto;
      }
      .subscription {
        margin-top: 64px;
        margin: 0 auto;
        &__input {
          border-radius: 8px;
          margin-bottom: 4px;
          max-width: 450px;
          width: 100%;
        }
        &__button {
          max-width: 450px;
          width: 100%;
          border-radius: 8px;
        }
      }
      .footer__box {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 64px;
        .contacts {
          margin: 0;
          margin-bottom: 64px;
        }
        .social {
          justify-content: center;
        }
      }
    }
  }
  .header__menu-mobile {
    width: 465px;

    &.active__menu {
      transform: translateX(6%);
    }
  }
  .registration {
    .modal-window__form {
      .initials {
        flex-wrap: wrap;
        &__item {
          max-width: 272px;
          width: 150%;
        }
      }
    }
  }
  .trip__buy {
    max-width: 100%; // +++
    &-time {
      span::before,
      span::after {
        display: none;
      }
    }
    .today-from {
      margin-right: auto;
    }
  }
  .buytuckets {
    .trip {
      .trips__item-time-bus {
        margin-top: 8px;
      }
    }
  }
}
@media (max-width: 440px) {
  .header__menu-mobile {
    width: 445px;
  }
  .buytuckets {
    .trip {
      .trip__buy {
        padding: 24px 11px;
      }
    }
  }
}
@media (max-width: 420px) {
  .header__menu-mobile {
    width: 425px;
  }
  .trips__item-box {
    max-width: 290px;
  }
}
@media (max-width: 380px) {
  .header__menu-mobile {
    width: 385px;
  }
  .buytuckets__row {
    input {
      width: 260px;
    }
  }
}
@media (max-width: 340px) {
  .header__menu-mobile {
    width: 345px;
  }
  .trips__item-box {
    max-width: 260px;
  }
  .trips__item-time {
    padding: 0;
  }
}
// /***/
